$heading-color: #4E4E4E;
$heading-color-hvr: #57A4A4;
$default-text-color: #5C5C5C;
$category-color: #7C7C7C;
$shots-background: #f7f7f7;
$footer-heading-color: #FEFEFE;
$footer-text-color: #B9B9B9;
$dropdown-background: #F5F5F5;
$dropdown-background-hvr: #e5e5e5;
$default-font: "Roboto";
$tablet: 768px;
$min-desktop: 993px;
$max-desktop: 1230px;