.section-header {
    margin-right: 16px;
    &--white {
        color: $footer-heading-color;
        &:before {
            color: $footer-heading-color;
        }
        &:after {
            content: "—";
            color: $footer-heading-color;
            position: absolute;
            right: -16px;
        }
    }
}
.footer {
    font-family: $default-font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: $max-desktop;
    padding: 56px 30px;
    margin: auto;
    &__text {
        max-width: 680px;
        color: $footer-text-color;
        line-height: 26px;
        text-align: center;
        margin-top: 22px;
    }
    &__links {
        margin-top: 37px;
    }
    &__address {
        margin-top: 25px;
        text-align: center;
        color: $footer-text-color;
        line-height: 24px;
    }
}

@import "media";