.section-header {
    text-transform: uppercase;
    color: $heading-color;
    position: relative;
    font-family: $default-font;
    font-weight: 700;
    margin-left: 16px;
    &::before {
        content: "—";
        color: $heading-color;
        position: absolute;
        left: -16px;
    }
    &--tablet {
        font-size: 14px;
        display: none;
    }
}

.max-width-wrapper {
    max-width: 100vw;
    &--grey {
        background-color: $shots-background;
    };
    &--black {
        background-color: black;
    }
}

.posts-section {
    padding: 68px 30px;
    max-width: $max-desktop;
    font-family: $default-font;
    &--centered {
        margin: 0 auto;
    }
    &__grid {
        row-gap: 32px;
        column-gap: 50px;
        margin-top: 23px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &__element {
        display: flex;
    }
    &__text {
        margin-left: 20px;
    }
    &__header {
        font-weight: 700;
        line-height: 30px;
    }
    &__image {
        max-width: 155px;
        max-height: 148px;
    }
    &__category {
        line-height: 20px;
        font-size: 14px;
        color: $category-color;
    }
    &__comment {
        margin-top: 20px;
        line-height: 26px;
        color: $default-text-color;
    }
}

.instagram-section {
    padding: 50px 30px;
    max-width: $max-desktop;
    font-family: $default-font;
    &--centered {
        margin: 0 auto;
    }
    &__headers {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__header-link {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        margin-right: 16px;
        position: relative;
        &::after {
            content: "—";
            color: $heading-color;
            position: absolute;
            right: -16px;
        }
        a {
            text-decoration: none;
            color: $heading-color;
        }
    }
    &__latest-shots {
        margin-top: 35px;
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
    }
    &__link {
        img {
            width: 100%;
            height: auto;
        }
    }
}

@import "media";