@media (max-width: $min-desktop) {
    .posts-section {
        &__grid {
            grid-template-columns: 1fr;
        }
    }
    .instagram-section {
        &__link {
            &--desktop {
                display: none;
            }
        }
    }
}

@media (max-width: $tablet) {
    .section-header {
        font-size: 14px;
    }
    .posts-section {
        &__element {
            flex-direction: column;
        }
        &__text {
            margin-left: 0;
            margin-top: 11px;
        }
        &__header {
            font-size: 14px;
        }
        &__category {
            font-size: 11px;
        }
        &__comment {
            display: none;
        }
    }
    .instagram-section {
        &__header-link {
            display: none;
        }
        .section-header {
            display: none;
            &--tablet {
                display: block;
            }
        }
        &__link {
            &--tablet {
                display: none;
            }
        }
    }
}