.header {
    padding: 0 30px;
    max-width: $max-desktop;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--centered {
        margin: 0 auto;
    }
    .navigation {
        padding: 50px 0;
        width: 100%;
        position: relative;
       &__links {
        display: flex;
        justify-content: space-evenly;
       }
       &__link {
        font-size: 11px;
        color: $heading-color;
        font-family: $default-font;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1.1px;
        &:hover {
            color: $heading-color-hvr;
        }
       }
       &__burger {
        display: none ;
        }
    }
    &__image {
        width: 100%;
        height: auto;
    }
}

@import "media";