@media screen and (max-width: $tablet) {
    .navigation {
        padding: 0;
        height: 116px;
        align-items: center;
        display: flex;
        justify-content: end !important;
        &__burger {
            background-color: black;
            border: none;
            width: 44px;
            height: 37px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            display: flex !important;
            position: relative;
            span {
                display: block;
                width: 17px;
                height: 2px;
                background-color: #fff;
            }
            &::before {
                content: "";
                position: absolute;
                display: block;
                width: 17px;
                height: 2px;
                background-color: #fff;
                top: 35%;
            }
            &::after {
                content: "";
                position: absolute;
                width: 17px;
                height: 2px;
                background-color: #fff;
                bottom: 35%;
            }
            &.active {
                span {
                    transform: rotate(45deg);
                }
                &::before{
                    display: none;
                }
                &::after {
                    bottom: 47%;
                    transform: rotate(-45deg);
                }
            }
        }
        &__links {
            display: none !important;
            &.active {
                background-color: $dropdown-background;
                display: block !important;
                z-index: 2;
                width: 182px;
                position: absolute;
                top: 77px;
                a {
                    padding-left: 10px;
                    display: flex !important;
                    align-items: center;
                    height: 28px;
                    &:hover {
                        background-color: $dropdown-background-hvr;
                    }
                }
            }
        }
    }
}